workflows/rag-ingestion-workflow.json
{
  "name": "RAG Ingestion - Files to ChromaDB",
  "nodes": [
    {
      "parameters": {},
      "id": "0b9a62d7-0920-4cf1-b65d-d8b71914239e",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        384,
        -288
      ]
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/knowledge_base/*"
      },
      "id": "3d0dd25e-940a-4c43-94b6-b8f4a023d5cb",
      "name": "Read Binary Files",
      "type": "n8n-nodes-base.readBinaryFiles",
      "typeVersion": 1,
      "position": [
        608,
        -288
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": "bge-m3:latest"
      },
      "id": "3f6e8d6d-2d65-459c-80a8-f3e32037bc79",
      "name": "Embeddings Ollama",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        864,
        -80
      ],
      "credentials": {
        "ollamaApi": {
          "id": "eFWPfcByJNxgsaBz",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "chromaCollection": {
          "__rl": true,
          "value": "legal_knowledge",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreChromaDB",
      "typeVersion": 1.3,
      "position": [
        1088,
        -288
      ],
      "id": "effb0534-43c5-457e-86d1-183a99663d31",
      "name": "Chroma Vector Store",
      "credentials": {
        "chromaSelfHostedApi": {
          "id": "0l0GlbFHVvMS1Pba",
          "name": "ChromaDB Self-Hosted account"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "artikel_nr",
                "value": "={{ $json.artikel_nr }}"
              },
              {
                "name": "kapitel",
                "value": "={{ $json.kapitel }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1200,
        -16
      ],
      "id": "0a35fba5-9de9-4787-a40d-b17659368171",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 50,
        "options": {
          "splitCode": "markdown"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1200,
        272
      ],
      "id": "97de7b5e-c51c-4cf4-8dbe-813cb41524ad",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "jsCode": "const output = [];\n\n// Vi bruger et almindeligt for-loop for at kunne bruge asynkrone (await) helpers i n8n\nfor (let i = 0; i < $input.all().length; i++) {\n  const item = $input.all()[i];\n\n  if (item.binary) {\n    // Finder automatisk navnet på den binære fil\n    const binaryKey = Object.keys(item.binary)[0];\n    \n    if (binaryKey) {\n      try {\n        // Hent teksten sikkert ud af den binære fil\n        const buffer = await this.helpers.getBinaryDataBuffer(i, binaryKey);\n        const text = buffer.toString('utf-8');\n\n        // 1. Split ved kapitler (beholder overskriften via positive lookahead)\n        const chapters = text.split(/(?=#KAPITEL\\s+[IVXLCDM]+)/g);\n\n        chapters.forEach((chapterContent) => {\n          // Udtræk kapitel-nummer/bogstav (f.eks. \"I\" eller \"IV\")\n          const chapterMatch = chapterContent.match(/#KAPITEL\\s+([IVXLCDM]+)/);\n          const currentChapter = chapterMatch ? chapterMatch[1] : \"Ukendt\";\n\n          // 2. Inde i hvert kapitel splitter vi ved artikler\n          const articles = chapterContent.split(/(?=##Artikel\\s+\\d+)/g);\n\n          articles.forEach((articleContent) => {\n            const cleanedArticle = articleContent.trim();\n            \n            // Spring over, hvis det er tomt eller kun er kapitel-overskriften uden artikel-tekst\n            if (!cleanedArticle || cleanedArticle.startsWith('#KAPITEL')) return;\n\n            // Udtræk artikel-nummer (f.eks. \"1\")\n            const articleMatch = cleanedArticle.match(/##Artikel\\s+(\\d+)/);\n            const articleNr = articleMatch ? parseInt(articleMatch[1]) : null;\n\n            // 3. Tilføj til output i et \"fladt\" format\n            output.push({\n              json: {\n                pageContent: cleanedArticle, // Selve teksten saksen skal klippe i\n                kapitel: currentChapter,     // Eksporteres som flad variabel til Loaderen\n                artikel_nr: articleNr        // Eksporteres som flad variabel til Loaderen\n              }\n            });\n          });\n        });\n      } catch (error) {\n         console.error(\"Fejl ved læsning af fil buffer:\", error);\n      }\n    }\n  }\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        -288
      ],
      "id": "9f5bdd01-9b1c-49db-95a3-3fd527944358",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Read Binary Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Binary Files": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Chroma Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Chroma Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Chroma Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1e3d3aed-5a28-4126-bc4a-b7556a6c353b",
  "meta": {
    "instanceId": "1692cdbdb12fafc0e749d25c18678f4d7508d460467fb25c97d59178797bd11d"
  },
  "id": "w4ch9ZcWBgTkejMM",
  "tags": []
}